
//Variables 
$ancho:100%;
$poco: 1rem;
$alto:10rem;
$pixeles:10px;
$imagen:25rem;
$imag:40rem;

//Variables de colores con MAP
$colores:(
    nav: beige,
    fondo: rgb(9, 4, 4),
    navegacion: rgb(242, 13, 174),
    navega: rgb(240, 9, 136),
	enlace: #13060d,
    alinear: black,
    servicios: #e0dddd,
    formulario: rgb(9, 8, 8),
    campo: rgb(18, 18, 17),
    parrafo: #f0f4f4, 
   
);











