@use '_commons' as c;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Cabecera*/
header{
    //background-color: black;
    background: linear-gradient(90deg, rgba(9,3,5,1) 43%, rgba(212,12,123,1) 100%);
    
}

#logo__imagen{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    
}

@media only screen and (min-width: 375px){
    #logo__imagen{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media only screen and (min-width: 768px){
    #logo__imagen{
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}



@media only screen and (min-width: 1280px){
    #logo__imagen{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}


.logo__imagen__spa{
    flex-grow: 2;
    margin-top: c.$pixeles;
    margin-left: c.$pixeles;
    margin-bottom: 0px;
      
}

.logo__imagen__spa{
    display: flex;
    
}

@media only screen and (min-width: 375px){
    .logo__imagen__spa{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}



.logo__imagen__spa--redes{
    flex-grow: 1;
      
}

.imagen_redes{
    width: 3rem;
    height: 3rem;
    background-color:map-get(c.$colores,"parrafo");
}

.imagen_spa{
    width: c.$imag;
    height: c.$imagen;
    border: map-get(c.$colores,"fondo");
    padding-top: c.$poco;
}

    
/*Menu*/
.enlace__nav{
    text-align:center;
    z-index: 1;
    align-items: center;
}


nav{
    background-color:map-get(c.$colores,"navegacion");
    padding-top: c.$poco;
    padding-bottom: 0.2rem;

}

nav ul li {
    font-family: sans-serif;
    list-style: none;
    display: inline-block;  
    font-weight: bold;
    padding: c.$pixeles;

    
}

nav ul li:hover ul{
    display: block; 
}


nav ul li:hover ul li a{
    background-color:map-get(c.$colores,"navegacion");
    display: block; 
}

nav ul ul{
    position: absolute;
    display: none;
}

nav ul ul li{
    display: block;
}

nav ul li a{
    color: map-get(c.$colores,"nav");
    
}

nav ul li a:hover{
    color:map-get(c.$colores,"navega");
            
}

a.enlace__nav__menu{
    text-decoration:none;
    border-radius:20px;
    border:1px solid #ab1866;
    width: 150px;
    display:block;
	color: map-get(c.$colores,"parrafo");
    font-size:17px;
    padding:10px 10px 10px 10px;
    background:linear-gradient(rgb(233, 227, 230) 0%,rgb(15, 15, 14) 20%,rgb(238, 5, 149) 100%);
     z-index: 1; 
     align-items: center;  
}


@media only screen and (min-width: 375px){
    a.enlace__nav__menu{
        width: 20rem;
        align-items: center;
          
    }

}

@media only screen and (min-width: 1280px){
    a.enlace__nav__menu{
        align-items: center;
        width: 150px;
        position:relative;            
    }
}

.enlace__nav__submenu{
    
    display:block;
    position:relative;
    text-decoration:none;
    border-radius:20px;
    border:1px solid #ab1866;
    width: 150px;
    font-size:17px;
    padding:10px 10px 10px 10px;
    background:linear-gradient(rgb(233, 227, 230) 0%,rgb(15, 15, 14) 20%,rgb(238, 5, 149) 100%);
     z-index: 1; 
     align-items: center; 
     top: -1px; 
     margin: -10px;
     right: 32px;
    
}

@media only screen and (min-width: 375px){
    a.enlace__nav__submenu{
        width: 20rem;
        align-items: center;
          
    }

}

@media only screen and (min-width: 780px){
    a.enlace__subnav__menu{
        width: 20rem;
        align-items: center;
          
    }

}

@media only screen and (min-width: 1280px){
    a.enlace__nav__submenu{
        width: 150px;
        align-items: center;
          
    }

}




a.enlace__nav__menu:hover {
	background-color:map-get(c.$colores,"fondo");
}


h1{
    color:map-get(c.$colores,"navegacion");
    font-size: 50px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    color:map-get(c.$colores,"navegacion");
    font-size: 40px;
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


h3{
    font-size: 25px;
    padding-top: 0.5rem;
}

p{
    font-size: 20px;
    color:map-get(c.$colores,"parrafo");
}


section{
    background-color:map-get(c.$colores,"navegacion");
}


img{
    border: solid 4px white;
    margin-top: c.$poco;
    margin-bottom: 2rem;
    width: 100rem;
    height: 30rem;
}

.alinear__texto{
    scroll-snap-align: center;
    scroll-snap-stop: always;
    background-color:map-get(c.$colores,"alinear");
    padding-top: 5rem;
    padding-bottom: 2rem;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.separar{
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.servicios{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: c.$poco;
    background-color:map-get(c.$colores,"servicios");
    
}
  
    @media only screen and (min-width: 375px){
        .servicios{
            grid-template-columns: repeat(1, 1fr);
            row-gap: 0rem;
            align-items: center;
        }
    }
     
    @media only screen and (min-width: 768px){
        .servicios{
            grid-template-columns: repeat(3, 1fr);
            column-gap : 0rem;
            align-items: center;
        }
    }
    
    @media only screen and (min-width: 1280px){
        .servicios{
            grid-template-columns: repeat(3, 1fr);
            column-gap : 0rem;
            align-items: center;
        }
    }
    
    


.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 5px 5px 5px;
}


 .iconos img{
    width: c.$imagen;
    height: c.$imagen;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }



/*Contacto*/
.formulario{
    width: min(60rem, 100%); /* Utiliza el valor mas pequeño*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: c.$poco;
}



 .formulario fieldset{
     border: solid 1px rgb(36, 3, 15);
     margin-bottom: 0%;
 }

 .formulario legend{
     text-align: center;
     font-size: 1.8rem;
     text-transform: uppercase;
     font-weight: 700;
     margin-bottom: 2rem;
     color:map-get(c.$colores,"formulario");
 }

 .campo{
     margin-bottom: 2rem;
     display: grid;
 }
 
 .contenedor-campos{
        display: grid;
        grid-template-columns: 50% 50%;  /* 2 columnas*/
        grid-template-rows: auto auto 20rem;  /* 3 filas*/
        column-gap: c.$poco;
        height: 20rem;
     }

     @media only screen and (min-width: 375px){
        .contenedor-campos{
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto auto 20rem;
            row-gap: c.$poco;
            align-items: center;
        }
    }
    

    @media only screen and (min-width: 1280px){
        .contenedor-campos{
            display: grid;
            grid-template-columns: 50% 50%;  /* 2 columnas*/
            grid-template-rows: auto auto 20rem auto;  /* 3 filas*/
            column-gap: c.$poco;
            height: 20rem;
        }
    }
    

 .campo label{
    color:map-get(c.$colores,"campo");
    margin-bottom: c.$poco;
    margin-right: 15rem;
    font-weight: bold;
    display: block;
 }

 .campo input{
    align-items: center;
    margin-left: 2rem;
 }

 .input-text{
     width: 80%;
     border: none;
     padding: 1.5rem;
     border-radius: .5rem;
 }

 .campo textarea{
     height: c.$alto;
     margin-left: 2rem;
 }

.boton{
    margin-top: c.$poco;
    padding: c.$poco;
    align-items: center;
}

.alinear-derecha input{
    align-items: center;
    margin-top: 20%;
    
}

@media only screen and (min-width: 375px){
    .alinear-derecha input{
        margin: 24rem;
        margin-bottom: c.$poco;
        align-items:center;
    }
        
    
}

@media only screen and (min-width: 1280px){
    .alinear-derecha input{
        margin: c.$alto;
        margin-bottom: c.$poco;
        align-items: flex-end;
    }
    
}

fieldset{
    padding-bottom: c.$poco;
}

@media only screen and (min-width: 375px){
    .fieldset{
        margin: c.$alto;

    }
}

.logo__imagen{
    display: grid;
    
}

@media only screen and (min-width: 1280px){
    .logo__imagen{
        padding: 100px 300px 100px 450px;
        grid-template-columns: repeat(3, 1fr);
        column-gap : c.$poco;
        align-items:center;
    }
}
